# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Packaging and distribution
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/
ENV/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Environment and databases
.env
*.db
*.sqlite3

# Operating System and IDEs
.DS_Store
__MACOSX/
.vscode/
.idea/
